language: php

sudo: false


cache:
  directories:
    - $HOME/.composer/cache/files

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

matrix:
  include:
    - php: 5.4
      env: INOTIFY_EXTENSION=1
    - php: 5.5
      env: INOTIFY_EXTENSION=1
    - php: 5.6
      env: INOTIFY_EXTENSION=1

before_script:
  - "if [ \"$INOTIFY_EXTENSION\" = \"1\" ]; then pyrus install pecl/inotify && pyrus build pecl/inotify; fi"
  - "if [ \"$INOTIFY_EXTENSION\" = \"1\" ]; then echo \"extension=inotify.so\" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini; fi"
  - "composer install --no-progress"
